# Virtual Environment
.hacker_news/
.auth_user/

# Python
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3
local_settings.py

# Environment variables
.env
.env.*

# IDE
.idea/

# macOS
.DS_Store

# 설정
ch3/auth_user/config/settings.py